/config/ssl/*
!/config/ssl/.gitkeep

/data/*

/content/*
/content/themes/*
/content/plugins/*
/content/uploads/*
!/content/.gitkeep
!/content/themes/.gitkeep
!/content/plugins/.gitkeep
!/content/uploads/.gitkeep

docker-compose.override.yml
